[submodule "rofi"]
	path = rofi
	url = git@github.com:Rimsoo/rofi.git
[submodule "nvim"]
	path = nvim
	url = git@github.com:Rimsoo/nvim.config.git
[submodule "kitty"]
	path = kitty
	url = git@github.com:Rimsoo/kitty.config.git
